$(function(){
  $('#create_staff').html('<%= link_to raw('<span class="icon-ok"></span> Added; refresh to view'), @staff.user %>');
  $('#top-message').html('<div class="alert">This does not affect permissions set in valid emails!</div>');
});
