- content_for :backtrack do
  %li= link_to raw('Languages &rang;'), languages_path
- content_for :top_right_menu do
  %li.active= link_to action_icon(:create, 'New Language'), new_language_path if can? :create, Language

= render 'form'
