- content_for :backtrack do
  %li= link_to raw('Sectors &rang;'), sectors_path
- content_for :top_right_menu do
  %li.active= link_to raw('<span class="icon-plus"></span> New Sector'), new_sector_path

= render 'form'
