.control-group
  .controls.required
    %p{:style => 'padding:10px;'}
      %strong Required
      fields are indicated by a light yellow background.
.control-group
  .controls.markdown
    %p{:style => 'padding:10px;'}
      %strong Markdown-enabled
      fields are indicated by a light blue background.
