%table.table.table-bordered
  %thead
    %th Internal Links
    %th effect
  %tbody
    %tr
      %td
        %pre= "[language[Language Name]]\n[region[Region Name]]\n[sector[Sector Name]]\n[unit[Unit Name]]\n[user[User Name]]\n[user[Jack Brown]]\n[work_zone[Work Zone Name]]"
      %td
        = link_to Page.first.title, Page.first
        %br
        = link_to 'Jack Brown', User.find_by_email('jack@brownjohnf.com')
