- content_for :backtrack do
  %li= link_to raw("Pages &rang;"), pages_path
  %li.active= link_to 'New Page', new_page_path
.row
  .span6.offset3
    .well.blue
      %h1 Add a page
.row
  .span6.offset3
    = render 'form'
