%ul.nav.nav-pills.pull-left
  %li
    = link_to root_path do
      %span.icon-home
      Home &rang;
  = yield :backtrack
%ul.nav.nav-pills.pull-right
  = yield :top_right_menu
  = render 'menu' rescue nil
