- content_for :body do
  .container
    .row
      .span12
        = render 'layouts/backtrack'
    .row
      .span12
        = yield
  - if Rails.env.development?
    .container
      .row
        .span12= debug(params)
= render :template => 'layouts/application'
