- content_for :body do
  .container-fluid
    .row-fluid
      .span12
        = render 'layouts/backtrack'
    .row-fluid
      .span2.visible-desktop
        = render 'shared/menu'
      .span10
        .row-fluid
          .span12
            = yield
= render :template => 'layouts/application'
